<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pucpr.quester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quester">
        <activity
            android:name=".controller.ResponderQuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".controller.QuestionarioAlunoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.AlunoTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarQuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".controller.QuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".controller.ProfessorTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.HomeProfessorActivity"
            android:exported="false" />
        <activity
            android:name=".controller.HomeAlunoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.RedirectLoginActivity"
            android:exported="false" />
        <activity
            android:name=".controller.TurmaProfessorActivity"
            android:exported="false" />
        <activity
            android:name=".controller.TurmaDisciplinaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.TurmaAlunoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.TurmaDerivadoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarRecompensaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.RecompensaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.TurmaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarDisciplinaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.DisciplinaActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".controller.InsituicaoDerivadoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarInstituicaoActivity"
            android:exported="false" />
        <activity
            android:name=".controller.CadastrarActivity"
            android:exported="false" />
        <activity
            android:name=".controller.HomeActivity"
            android:exported="false" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>